/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');



html{
    max-height: 100%;
  }
body {
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  border:none;
    position: relative;
    margin:0; padding:0;
background-color: #020202;

}
.logo {
  font-family: 'Suez One', serif;
  font-size: 50px;
    color: #fff;
}

.item {
    
  position: relative;

  padding: 0%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border:0px;
  outline:0px;

}
 #title {
    font-family: 'Suez One', serif;

      color:  #fff;
      font-size: 66px;
      text-align: center;
      text-shadow:  0 0 5px #020202;
      animation: fade-in-move-down;

  }
#nav-bar {
    font-size: 18px;
  }

  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
  ul li img {
    padding: 20px;
    }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: rgb(155,155,155,0.2);
    z-index: 5;
  }

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container {
  font-family: 'Suez One', serif;
  text-align: left;
    color: #020202;
    position: absolute;
  }

#banner {
	float: left;
	width: 100%;

}
#banner img {
	display: block;
	width: 100%;
}
a {
    color: #dedede;
    font-family: sans-serif;
    text-decoration: none;

  }
  a:active {
    color: #000;
  }
  a:hover {
    color: #fb815d !important;
  }
  
.right { 
  font-family: 'PT Serif', serif;
  font-size: 26px;
  text-shadow: 0 0 3px #020202;
}

#circle {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  shape-outside: circle();
  clip-path: circle();
  background: #fff;
}

#action-buttons {
    word-spacing: 20px;
    position: relative;
    padding-top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'PT Serif', serif;
    font-size: 28px;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }
a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
@media all and (max-width:30em){
a.button1{
    display:block;
    margin:0.4em auto;
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
}