/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap');

html{
    min-height: 100%;
  }
body {
    background-color: #020202;
}
.logo {
    width: 60vw;
    font-family: 'Courgette', cursive;
    font-size: 40px;
    color: #dedede;
    
  }

.item {

  position: relative;
  text-align: center;


}
 #title {
      color:  #020202;
      font-size: 64px;
      text-align: left;
    animation: fadeIn ;
    animation-delay: 5s;
    margin-left: 3%;
     

  }
#nav-bar {
    font-size: 18px;
  }

  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
  ul li img {
    padding: 20px;
    }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 75px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: rgb(155,155,155,0.2);
    z-index: 5;
  }

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container {
font-family: 'Courgette', cursive;
    text-align: left;
    color: #dedede;
    position: absolute;
  }

#banner {
	float: left;
	width: 100%;
	background-color: #dedede;
  font-family: 'Courgette', cursive;
  text-align: left;
    color: #434CBC;
}
#banner img {
	display: block;
	width: 100%;
}
a {
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;

  }
  a:active {
    color: #dedede;
  }
  a:hover {
    color: yellow !important;
  }
  
.right { font-family: 'Roboto', sans-serif;}

#title {
  animation: fade-in-move-down 2s;
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}